{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>

    <link rel="stylesheet" href="{% static 'newsApp/css/bootstrap.min.css'%}">
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'newsApp/loginRegisterStatic/fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'newsApp/loginRegisterStatic/css/style.css'%}">
</head>
<body>

    <div class="main">
                <!-- Sing in  Form -->
                <section class="sign-in">
                    <div class="container">
                        <div class="signin-content">
                            <div style="width: 500px; height: 500px;">
                                <figure><img src="{% static 'newsApp/loginRegisterStatic/images/img2.png'%}" alt="sing up image" style="max-width: 100%; max-height: 100%;"></figure>
                                <a href="/register" class="signup-image-link">Create an account</a>
                            </div>

                            <div class="signin-form">
                                <h2 class="form-title">login</h2>

                                 {%for message in messages%}
                                    <div class="alert alert-danger">
                                        {{message}}
                                    </div>
                                {% endfor %}

                                <form method="POST" class="register-form" id="login-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                        <input type="text" name="name" id="your_name" placeholder="Your Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                        <input type="password" name="password" id="your_pass" placeholder="Password"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                                    </div>
                                    <div class="form-group form-button">
                                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>

    </div>

            <!-- JS -->
            <script src="{% static 'newsApp/loginRegisterStatic/vendor/jquery/jquery.min.js'%}"></script>
            <script src="{% static 'newsApp/loginRegisterStatic/js/main.js'%}"></script>
</body>
</html>